In [1]:
library(repr)
library(tidyverse)
library(testthat)
library(digest)
library(dplyr)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘testthat’

The following object is masked from ‘package:dplyr’:

    matches

The following object is masked from ‘package:purrr’:

    is_null

The following object is masked from ‘package:tidyr’:

    matches

In [2]:
install.packages("ggmap")

Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/3.5’
(as ‘lib’ is unspecified)

In [3]:
library(ggmap)

Google's Terms of Service: https://cloud.google.com/maps-platform/terms/.
Please cite ggmap if you use it! See citation("ggmap") for details.

In [4]:
data <- read_csv("2010-2018data.csv",col_names = TRUE, skip=2)
data <- na.omit(data) 
colnames(data) = c("year","destination","origin","refuge","asylum")

Parsed with column specification:
cols(
  Year = col_double(),
  `Country / territory of asylum/residence` = col_character(),
  Origin = col_character(),
  `Refugees (incl. refugee-like situations)` = col_double(),
  `Asylum-seekers (pending cases)` = col_double()
)
Warning message:
“4198 parsing failures.
  row                                      col expected actual                file
52078 Asylum-seekers (pending cases)           a double      * '2010-2018data.csv'
52081 Refugees (incl. refugee-like situations) a double      * '2010-2018data.csv'
52084 Refugees (incl. refugee-like situations) a double      * '2010-2018data.csv'
52085 Asylum-seekers (pending cases)           a double      * '2010-2018data.csv'
52086 Asylum-seekers (pending cases)           a double      * '2010-2018data.csv'
..... ........................................ ........ ...... ...................
See problems(...) for more details.
”

In [5]:
head(data)

  year destination origin                 refuge asylum
1 2010 Afghanistan Iran (Islamic Rep. of)    30    21
2 2010 Afghanistan Pakistan                6398     9
3 2010 Angola      Burundi                   14    13
4 2010 Angola      Central African Rep.       6     1
5 2010 Angola      Côte d'Ivoire            211  1213
6 2010 Angola      Dem. Rep. of the Congo 13648  1508

In [6]:
lapply(data,class)

$year
[1] "numeric"

$destination
[1] "character"

$origin
[1] "character"

$refuge
[1] "numeric"

$asylum
[1] "numeric"

In [7]:
data <- data %>%
    mutate(total = refuge + asylum) %>%
    filter(total > 0)

In [8]:
head(data)

  year destination origin                 refuge asylum total
1 2010 Afghanistan Iran (Islamic Rep. of)    30    21      51
2 2010 Afghanistan Pakistan                6398     9    6407
3 2010 Angola      Burundi                   14    13      27
4 2010 Angola      Central African Rep.       6     1       7
5 2010 Angola      Côte d'Ivoire            211  1213    1424
6 2010 Angola      Dem. Rep. of the Congo 13648  1508   15156

In [9]:
largest<-arrange(data,desc(total))

In [42]:
mex<-filter(largest,destination=="Mexico")
head(mex,10)

   year destination origin                             refuge asylum total
1  2018 Mexico      Honduras                           4656   10569  15225
2  2018 Mexico      Venezuela (Bolivarian Republic of) 4721    5523  10244
3  2018 Mexico      El Salvador                        5155    4527   9682
4  2017 Mexico      Honduras                           2895    2983   5878
5  2017 Mexico      El Salvador                        3332    2418   5750
6  2017 Mexico      Venezuela (Bolivarian Republic of) 1185    3183   4368
7  2016 Mexico      Honduras                           2126    1022   3148
8  2016 Mexico      El Salvador                        2366     764   3130
9  2018 Mexico      Guatemala                           847    1039   1886
10 2014 Mexico      Honduras                            288    1247   1535

In [10]:
head(largest,20)

   year destination            origin           refuge  asylum total
1  2018 Turkey                 Syrian Arab Rep. 3622366  112   3622478
2  2017 Turkey                 Syrian Arab Rep. 3424237  163   3424400
3  2016 Turkey                 Syrian Arab Rep. 2823987  180   2824167
4  2015 Turkey                 Syrian Arab Rep. 2503549  297   2503846
5  2010 Pakistan               Afghanistan      1899842 1946   1901788
6  2011 Pakistan               Afghanistan      1701945 1543   1703488
7  2012 Pakistan               Afghanistan      1637740 3220   1640960
8  2013 Pakistan               Afghanistan      1615876 5323   1621199
9  2015 Pakistan               Afghanistan      1560592 6358   1566950
10 2014 Turkey                 Syrian Arab Rep. 1557899  250   1558149
11 2014 Pakistan               Afghanistan      1504912 5460   1510372
12 2018 Pakistan               Afghanistan      1403521 5012   1408533
13 2017 Pakistan               Afghanistan      1392610 3241   1395851
14 2016 Pakistan               Afghanistan      1352160 4447   1356607
15 2014 Lebanon                Syrian Arab Rep. 1147494  417   1147911
16 2015 Lebanon                Syrian Arab Rep. 1062690   15   1062705
17 2017 Uganda                 South Sudan      1037412  486   1037898
18 2010 Iran (Islamic Rep. of) Afghanistan      1027577 1639   1029216
19 2016 Lebanon                Syrian Arab Rep. 1005503   10   1005513
20 2010 Syrian Arab Rep.       Iraq             1000000  623   1000623

In [49]:
topdest<- largest %>% group_by(destination) %>%
    summarise(total = sum(total)) %>% arrange(desc(total))

In [50]:
head(topdest)

  destination            total
1 Turkey                 16337850
2 Pakistan               14111457
3 Germany                 7540571
4 Iran (Islamic Rep. of)  6452601
5 Lebanon                 6265276
6 Uganda                  5281438

In [11]:
syriain<-filter(data,destination=="Syrian Arab Rep.")
syriaout<-filter(data,origin=="Syrian Arab Rep.")

In [12]:
head(arrange(syriain,desc(total)))
head(arrange(syriaout,desc(total)))

  year destination      origin refuge  asylum total
1 2010 Syrian Arab Rep. Iraq   1000000   623  1000623
2 2011 Syrian Arab Rep. Iraq    750000   892   750892
3 2012 Syrian Arab Rep. Iraq    471418   693   472111
4 2014 Syrian Arab Rep. Iraq    146200  1214   147414
5 2013 Syrian Arab Rep. Iraq    146200   878   147078
6 2018 Syrian Arab Rep. Iraq     15699 18341    34040

  year destination origin           refuge  asylum total
1 2018 Turkey      Syrian Arab Rep. 3622366 112    3622478
2 2017 Turkey      Syrian Arab Rep. 3424237 163    3424400
3 2016 Turkey      Syrian Arab Rep. 2823987 180    2824167
4 2015 Turkey      Syrian Arab Rep. 2503549 297    2503846
5 2014 Turkey      Syrian Arab Rep. 1557899 250    1558149
6 2014 Lebanon     Syrian Arab Rep. 1147494 417    1147911

In [51]:
fromsyria<-syriaout %>% group_by(destination) %>% ungroup() %>% 
    select("year","destination","total") %>% arrange(desc(total))

In [52]:
head(fromsyria)
dim(fromsyria)

  year destination total
1 2018 Turkey      3622478
2 2017 Turkey      3424400
3 2016 Turkey      2824167
4 2015 Turkey      2503846
5 2014 Turkey      1558149
6 2014 Lebanon     1147911

[1] 662   3

In [56]:
head(group_by(fromsyria, destination) %>% summarise(total = sum(total)) %>% arrange(desc(total)),10)

   destination total
1  Turkey      14767715
2  Lebanon      6131942
3  Germany      1979434
4  Iraq          517101
5  Sweden        515954
6  Jordan        242585
7  Austria       193413
8  Netherlands   138890
9  Greece        107508
10 Denmark        88552

In [15]:
data2 <- data %>% group_by(destination,origin)

In [16]:
head(data2)

  year destination origin                 refuge asylum total
1 2010 Afghanistan Iran (Islamic Rep. of)    30    21      51
2 2010 Afghanistan Pakistan                6398     9    6407
3 2010 Angola      Burundi                   14    13      27
4 2010 Angola      Central African Rep.       6     1       7
5 2010 Angola      Côte d'Ivoire            211  1213    1424
6 2010 Angola      Dem. Rep. of the Congo 13648  1508   15156

In [17]:
data2 <- ungroup(data2)

destinations <- select(data2,destination)
origins <- select(data2,origin)

destinationdf <- distinct(as.data.frame(destinations))
origindf <- distinct(as.data.frame(origins))

In [18]:
head(origindf)
dim(origindf)
lapply(destinationdf,class)

  origin
1 Iran (Islamic Rep. of)
2 Pakistan
3 Burundi
4 Central African Rep.
5 Côte d'Ivoire
6 Dem. Rep. of the Congo

[1] 195   1

$destination
[1] "character"

In [19]:
head(destinationdf)
dim(destinationdf)
class(destinationdf)
lapply(destinationdf,class)

  destination
1 Afghanistan
2 Angola
3 Albania
4 United Arab Emirates
5 Argentina
6 Armenia

[1] 167   1

[1] "data.frame"

$destination
[1] "character"

In [20]:
locationsddf <- mutate_geocode(destinationdf, place)

ERROR: Error in geocode(locs, ...): is.character(location) is not TRUE

In [ ]:
locationsodf <- mutate_geocode(origindf, place)

In [58]:
install.packages("migest")
install.packages("circlize")

Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/3.5’
(as ‘lib’ is unspecified)
also installing the dependencies ‘truncnorm’, ‘cmm’, ‘Rsolnp’, ‘mipfp’

In [61]:
install.packages("tidyr")

Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/3.5’
(as ‘lib’ is unspecified)

In [59]:
library(circlize)
library(migest)
librarY(tidyr)
demo(cfplot_reg, package = "migest", ask = FALSE)

	demo(cfplot_reg)
	---- ~~~~~~~~~~

> ##
> ##install packages if not already done so (uncomment)
> ##
> # install.packages("circlize")
> # install.packages("dplyr")
> # install.packages("tidyr")
>
> ##
> ##read in table and define matrix (m) and reference data.frame (df1)
> ##
> df0 <- read.table(system.file("science", "region_custom.txt", package = "migest"), skip=2, stringsAsFactors=FALSE)

> #select and rename labels
> library("dplyr")

> df1 <- df0 %>% select(1:3) %>% rename(order = V1, rgb = V2, region = V3) %>% mutate(region = gsub("_", " ", region))

> #flow matrix
> m <- as.matrix(df0[,-(1:3)]/1e06)

> dimnames(m) <- list(orig = df1$region, dest = df1$region)

> #drop small flows
> m[m<=quantile(m,0.65)]<-0

> #sort regions and create colours
> library("tidyr")

> df1 <- df1 %>% arrange(order) %>% separate(rgb, c("r","g","b")) %>%
+   mutate(col = rgb(r, g, b, max=255), max = rowSums(m)+colSums(m))

> #plot using chordDiagram
> library("circlize")

ERROR: Error in library("circlize"): there is no package called ‘circlize’